<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-light bg-light justify-content-between">

  <p><%= link_to "Home", restaurants_path, class: 'navbar-brand' %> </p>
  <p><%= link_to "Add a restaurant", new_restaurant_path %> </p>
  <form class="form-inline my-2 my-lg-0" action="/restaurants/search" method="get">
    <input type="text" class="form-control mr-sm-2" placeholder="Search" value="<%= params[:name] %>" name="name">
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
</nav>
    <%= yield %>


  </body>

</html>
